        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: #f8f8f8;
        }
        .book-library{
            text-align: center;
        }
        div{
            width: 100%;
            height: 20px;
            border: 2px;
            background-color: #ffffff;
        }
        .rate{
            background-color: #2ecc71;
            text-align: center;
        }